img {
	max-width: 100%;
}

html, body {
	position: relative;
	font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
	overflow-x: hidden;
}

#header {
	padding-top: 10px;
	padding-left: 10px;
	background: url('/img/logo.png') center center no-repeat;
	background-color: black;
}

#header #logo {
	display: inline-block;
	height: 100px;
	line-height: 100px;
}

#header #logo img {
	vertical-align: middle;
}

#header .header.ad {
	height: 100px;
	width: 320px;
	margin: 0 auto;
}

#wrapper {
	padding-top: 5px;
	padding-bottom: 45px;
	position: relative;
}

#main {
	position: relative;
	min-height: 50px;
}

#main .picture.nav {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main .picture.nav:hover {
	background-color: rgba(255, 255, 255, 0.3);;
}

#main .picture.nav.prev {
	left: 0;
}

#main .picture.nav.next {
	right: 0;
}

#sidebar {
	overflow-x: hidden;
	padding-top: 5px;
}

#sidebar .sidebar.section {
	margin: 5px;
	overflow: hidden;
}

#sidebar .siderbar.ad {
	min-height: 1px;
}

#footer {
	background: black;
	position: fixed;
	bottom: 0;
	height: 40px;
	padding: 5px;
	left: 0;
	right: 0;
	color: white;
	font-size: 0.8em;
	line-height: 30px
}

#footer .powered.by {
	float: left;
	text-align: left;
}

#footer .copyright {
	float: right;
	text-align: right;
}

.main.picture {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.text.nav {
	text-align: center;
	padding: 20px;
}
